@keyframes ldio-37rk3b1kugg {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-37rk3b1kugg div {
  left: 105.28000000000002px;
  top: 53.760000000000005px;
  position: absolute;
  animation: ldio-37rk3b1kugg linear 1s infinite;
  background: #fe6542;
  width: 13.440000000000001px;
  height: 26.880000000000003px;
  border-radius: 6.720000000000001px / 13.440000000000001px;
  transform-origin: 6.720000000000001px 58.24000000000001px;
}.ldio-37rk3b1kugg div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe6542;
}.ldio-37rk3b1kugg div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe6542;
}
.loadingio-spinner-spinner-gvjg2yxyv1g {
  width: 224px;
  height: 224px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.ldio-37rk3b1kugg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-37rk3b1kugg div { box-sizing: content-box; }

.center {
  margin:auto;
}