.home-container {
  padding:15px;
}

.home-container .block {
  background-color: #E9ECEF;
  padding:25px;
  border-radius: 0.25rem;
  margin:15px;
}
.home-container h2 {
  background-color: #E9ECEF;
  padding:10px;
  border-radius: 0.25rem;
  margin:15px 15px 5px 15px;
  font-weight: bold;
}